@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: #fbf1c7;
  color: #3c3836;
}

.container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  margin: 20px 0;
}

.scores {
  display: flex;
  gap: 10px;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  max-width: 50%;
}

.buttons {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.button {
  background-color: #076678;
  border: 3px solid #076678;
  color: #fbf1c7;
  border-radius: 30px;
  font-weight: 700;
  font-size: 0.8em;
  width: 120px;
  height: 120px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: rgba(0, 0, 0 ,0);
  border-color: #076678;
  color: #076678;
}

@keyframes clickbtn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

.button--click {
  animation-name: clickbtn;
  animation-duration: 0.15s;
}

.button--red {
  background-color: #9d0006;
  border-color: #9d0006;
}

.button--red:hover {
  color: #9d0006;
  border-color: #9d0006;
}

.button--yellow {
  background-color: #b57614;
  border-color: #b57614;
}

.button--yellow:hover {
  color: #b57614;
  border-color: #b57614;
}

.button--green {
  background-color: #427b58;
  border-color: #427b58;
}

.button--green:hover {
  color: #427b58;
  border-color: #427b58;
}

.button.inactive {
  background-color: #ebdbb2;
  color: #282828;
  border: 0;
}

.winner {
  display: none;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}

.winner.show {
  display: block;
  margin: 15px 0;
  font-size: 1.1em;
  padding: 20px 40px;
  background-color: #076678;
  color: #fbf1c7;
  border-radius: 12px;
  
  animation-name: fadein;
  animation-duration: 0.25s;
}

.winner.show.cyan {
  background-color: #427b58;
}

.winner.show.gray {
  background-color: #ebdbb2;
  color: #282828;
}
