@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: #fbf1c7;
  color: #3c3836;
}

h1 {
  font-size: 1.5em;
  margin: 30px 0;
}

#container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  margin: 20px 0;
  text-align: center;
}

.scores {
  display: flex;
  gap: 10px;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  max-width: 50%;
}

@keyframes increment {
  from {
    transform: scale(1.4);
  }
  to {
    transform: scale(1);
  }
}

.score__number--bang {
  animation-name: increment;
  animation-duration: 0.20s;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 20px 0;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #076678;
  border: 0;
  color: #fbf1c7;
  border-radius: 30px;
  font-weight: 700;
  font-size: 0.8em;
  width: 120px;
  height: 120px;
  transition: transform 0.15s ease-in-out, 
              background-color 0.25s ease-in-out,
              color 0.25s ease-in-out;
}

.button[type="button"] {
  touch-action: manipulation;
}

.button__icon {
  font-size: 60px;
}

.button div {
  pointer-events: none;
}

.button:hover {
  transform: scale(1.08);
}

@keyframes clickbtn {
  0% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.08);
  }
}

.button--click {
  animation-name: clickbtn;
  animation-duration: 0.15s;
}

.button--red {
  background-color: #9d0006;
  border-color: #9d0006;
}

.button--yellow {
  background-color: #b57614;
  border-color: #b57614;
}

.button--green {
  background-color: #427b58;
  border-color: #427b58;
}

.button--inactive {
  background-color: #ebdbb2;
  color: #282828;
  border: 0;
}

.button--inactive:hover {
  transform: none;
}

@keyframes new-round-result {
  from {
    transform: scale(1.08);
  }
  to {
    transform: scale(1);
  }
}

.round-result--pop {
  animation-name: new-round-result;
  animation-timing-function: ease-in-out;
  animation-duration: 0.09s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
  }
}

.winner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
  font-size: 1.1em;
  padding: 20px 40px;
  background-color: #076678;
  color: #fbf1c7;
  border-radius: 12px;
  
  animation-name: fadein;
  animation-duration: 0.25s;
}

.winner--green {
  background-color: #427b58;
}

.winner--gray {
  background-color: #ebdbb2;
  color: #282828;
}

.play-again {
  color: #fbf1c7;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fbf1c7;
  border-radius: 5px;
  padding: 5px 14px;
}

.winner--gray > .play-again {
  color: #282828;
  border-color: #282828;
}

@media all and (max-width: 768px) {
  .buttons {
    gap: 8px;
  }

  .button {
    width: 100px;
    height: 100px;
    font-size: 0.58em;
  }

  @keyframes clickbtn {
    0% {
      transform: scale(1.00);
    }
    50% {
      transform: scale(1.08);
    }
    100% {
      transform: scale(1.00);
    }
  }

  .button--click {
    animation-name: clickbtn;
  }

  .button:hover {
    transform: none;
  }
}
